:root {
    --montserrat: "Montserrat", sans-serif;
    --sans: "Open Sans", sans-serif;
    --poppins: "Poppins", sans-serif;
    --volkhov: "Volkhov", serif;
    --monterrat: "Montserrat", sans-serif;
}
